{% extends 'base.html' %}

{% block content %}
<div class='form'>
    <form method='POST' action=''>
        <!--The hidden tag here is necessary for CSRF protection (always include in forms)-->
        {{ form.hidden_tag() }}
        <!--We display the username field label and the field itself-->
        {{ form.name.label }}
        {{ form.name }}
        <!--Here, we want our page to catch and display any errors raised. The if statement checks if a ValidationError object exists and if so, present the message-->
        {% if form.name.errors %}
        <div class='error'>
            {% for error in form.name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        {{ form.desc.label }}
        {{ form.desc }}
        <br>
        {{ form.submit }}
    </form>
</div>
{% endblock %}